<%- include('include/_header.ejs') %>

<div class="container">
    <div class="main-content">
      <a href="/"
        ><button class="btn btn-info"><i class="fas fa-angle-double-left"></i>All User</button></a
      >
      <form method="POST" id="update_user">
        <div class="form-group">
          <label for="name" class="form-label">Name</label>
          <input type="hidden" id="id" />
          <input class="form-control" type="text" name="name" id="name" placeholder="John Doe" />
        </div>
        <br>
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input class="form-control" type="text" name="email" id="email" placeholder="example@mail.com" />
        </div>
        <br>
        <div class="form-group">
          <label class="form-label" for="gender">Gender</label>
          <div>
            <input class="form-check-input" type="radio" name="gender" id="male" value="male" />
            <label class="form-check-label" for="gender"> Male </label>
            <input class="form-check-input" type="radio" name="gender" id="female" value="female" />
            <label class="form-check-label" for="gender"> Female </label>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label class="form-label" for="status">Status</label>
          <div>
            <input class="form-check-input" type="radio" name="status" id="male" value="active" />
            <label class="form-check-label" for="status"> Active </label>
            <input class="form-check-input" type="radio" name="status" id="female" value="inactive" />
            <label class="form-check-label" for="status"> Inactive </label>
          </div>
        </div>
        <br />
        <button class="btn btn-success w-100" type="submit">Save</button>
    </form>
    </div>
  </div>

<%- include('include/_footer.ejs') %>
