<tr>
  <td>1</td>
  <td>Chainarong</td>
  <td>Chainarong@dev.com</td>
  <td>Male</td>
  <td>Active</td>
  <td>
    <a href="/update-user"
      ><div class="btn btn-primary"><i class="fas fa-edit"></i></div
    ></a>
    <a href="#"
      ><div class="btn btn-danger"><i class="fas fa-trash"></i></div
    ></a>
  </td>
</tr>